@{
}

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Welcome to Sweden Run!</h1>
      <a href="#" class="btn btn-light" role="button">Login</a>
      <a href="#" class="btn btn-primary" role="button">Create Runner</a>
    </div>
  </div>
</div>

    <!--
    <div class="container d-flex justify-content-center">
      <h1>Welcome to Sweden Run!<span class="badge bg-success">New</span></h1>

    </div>
    -->
    <!--
    <div class="container d-flex justify-content-center">
      <a href="#" class="btn btn-light" role="button">Login</a>
      <a href="#" class="btn btn-primary" role="button">Create Runner</a>
    </div>
      -->
