@{
  ViewBag.Title = "Home - Sweden Runner";
}

<!-- Page Content -->
<div class="container">
  <div class="row start">
      <h1 class="fw-light">Sweden Run</h1>

      <p class="lead">Sign in</p>

      <div class="form-sigin">
        <div class="container d-flex flex-column justify-content-center align-items-center">
          <form>
            <label for="input-email" class="visually-hidden">Email address</label>
            <input type="email" id="input-email" class="form-control" placeholder="Email address" required autofocus>
            <label for="input-password" class="visually-hidden">Password</label>
            <input type="password" id="input-password" class="form-control" placeholder="Password" required>

            <button class="w-75 mt-2 btn btn-primary" type="submit">Sign in</button>
            <hr style="margin: 0.5em" />

            <a class="w-75 btn btn-secondary" asp-controller="Runner" asp-action="AddRunner">Create Runner</a>
          </form>
        </div>
    </div>
  </div>
</div>