@{
  ViewBag.Title = "All Runners - Sweden Run";
}

@model IEnumerable<Runner>

<h3 class="text-muted text-center">All runners!</h3>
<div class="wrapper">
  <table class="table table-striped table-hover" >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Total Distance</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Runner runner in @Model)
      {
        <tr>
          <th scope="row"><img src="~/images/Runner.png" alt="Runner avatar" width="50" height="50"></th>
          <td><a asp-controller="Runner" asp-action="RunnerDetail" asp-route-id="@runner.RunnerId">@runner.RunnerId</a></td>
          <td>@runner.Name</td>
          <td>200 km</td>
        </tr>
      }
    </tbody>
  </table>
</div>
